/* --------- header bar ---------*/

header {
    border-bottom: 1px solid rgb(212, 212, 212);
    height: 3em;
    padding: 0% 13% 0% 13%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.uol_icon{
    height: 1.8em;
}

ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1em;
    margin-right: 5em;
}

li {
    margin: 0% 2% 0% 2%;
    display: inline;
    white-space: nowrap;
    font-size: 0.8em;
}

.lista-buttons{
    margin: 0%;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

i{
    margin-right: 0.5em;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    background-color: white;
    border: none;
    font-weight: 600;
}

.btn-menu{
    font-size: 1em;
}

.btn-assine{
    background-color: rgb(255, 208, 0);
    border-radius: 0.5em;
    padding: 0.7em 1.3em 0.7em 1.3em;
    font-size: 0.5em;
}

/* --------- corpo  ---------*/

.body{
    padding: 0% 13% 0% 13%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 7px;
    font-weight: 100;
    font-size: 35px;
}

.AnuncioPrincipal{
    background: rgb(34,133,255);
    background: linear-gradient(90deg, rgba(34,133,255,1) 0%, rgba(49,44,175,1) 100%);
    color: white;    
    height: 60%;
    padding: 3%;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: center;
    
}

h2{
    font-size: 30px;
    font-weight: 600;
}

p{ 
    border-left: 2px solid white;
    padding: 0px 0px 0px 10px;
}

.cinza{    
    background-color: rgb(222, 222, 222);
    height: 300px;
    align-content: center;
    vertical-align: center;
    display: flex;
    PADDING: 0% 13% 0% 13%;
    align-items: center;
    justify-content: center;

}

/* --------- imagens  ---------*/
.images{
    height: 225px;
    width: 260px;
}

.espacamento {       
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0% 13% 0% 13%;
}

.image-ajuste {
    display: block;
    margin-bottom: 3%;
}

.image-ajuste:hover {
    opacity: 70%;
    color:rgb(122, 85, 255);
}

h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0px;
    font-weight: 300;
}