<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscreva-se</title>
    <link rel="stylesheet" type="text/css" href="../css/cadastro.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="container">
            <div class="product-logo">
                <h1><img class="productLogo noselect" src="https://imguol.com/p/pp/logos/cadastro/uol.png"></h1>
            </div>
            <div class="secure-website-uol">Site seguro UOL</div>
        </div>
    </header>
    <div class="container-sm">
        <h4 class="titulo">Cadastre-se</h4>
        <form role="form">

            <div class="espaco-entre-componentes"></div>
            <p class="label">Seu e-mail</p>
            <input type="text" class="form-control">

            <div class="espaco-entre-componentes"></div>
            <p class="label">Crie sua senha</p>
            <div class="password-container">
                <input type="password" class="form-control password-input">
                <img src="../images/senha.png" alt="Ícone de senha" class="password-icon">
            </div>

            <div class="espaco-entre-componentes"></div>
            <p class="label">Nome completo</p>
            <input type="text" class="form-control">

            <div class="espaco-entre-componentes"></div>
            <p class="label">CPF</p>
            <input type="text" class="form-control" placeholder="___-___-___-__">

            <div class="espaco-entre-componentes"></div>
            <p class="label">Telefone celular</p>
            <input type="text" class="form-control" placeholder="(__) _____-____">

            <div class="espaco-entre-componentes"></div>
            <p class="label">CEP</p>
            <input type="text" class="form-control" placeholder="_____-___">
            <p class="CEP">Não sabe o CEP? <span class="pesquisar">Pesquisar</span></p>

            <div class="espaco-entre-componentes"></div>
            <div class="custom-box">
                <div class="custom-box-header">
                    <div class="box-font-header">Resumo do pedido:</div>
                </div>
                <div class="custom-box-body">ASSINATURA UOL (CONETÚDO EXCLUSIVO)<br><br>Valor:<br>7 dias Grátis.
                    Após, R$ 19,90/mês.<br><br></div>
            </div>

            <div class="espaco-entre-componentes"></div>
            <p class="label">Meio de pagamento</p>
            <div class="custom-box">
                <div class="custom-box-header">
                    <div class="box-font-header">Cartão de crédito</div>
                </div>
                <div class="custom-box-body">Faremos uma cobrança no seu cartão com a descrição
                    PAG*CHECKUOL para validar os dados e estornaremos o valor em seguida.
                    Não se preocupe, este valor não entrará na sua fatura.
                    <br><br>

                    <p class="texto-cartao">Numero do cartão</p>
                </div>
                <input type="text" class="control-box">
                <div class="aceite">Aceitamos:</div>
                <span ng-repeat="creditCard in creditCardList" class="acceptedBoxBrand icon-visa" title=""
                    alt=""></span>
                <span ng-repeat="creditCard in creditCardList" class="acceptedBoxBrand icon-mastercard" title=""
                    alt=""></span>
                <span ng-repeat="creditCard in creditCardList" class="acceptedBoxBrand icon-hipercard" title=""
                    alt=""></span>
                <span ng-repeat="creditCard in creditCardList" class="acceptedBoxBrand icon-elo" title="" alt=""></span>
                <span ng-repeat="creditCard in creditCardList" class="acceptedBoxBrand icon-american" title=""
                    alt=""></span>
            </div>
        </form>
    </div>
    <p class="paragrafo">Ao continuar, declaro que estou ciente e aceito os <span class="pesquisar">termos de uso do
            produto</span> e a <span class="pesquisar">política de privacidade</span>.</p>
    <div class="espaco-entre-componentes"></div>
    <footer class="checkout-footer">
        <button type="submit" class="btn-concluir">Concluir</button>
    </footer>

</body>